{{define "positionList"}}
{{template "header" "Positions"}}

{{range .Positions}}
  <a class="btn btn-lg btn-secondary btn-block" role="button" href="/position/{{.ID}}/recall">{{.Name}}</a>
{{else}}
  <div class="text-secondary text-center">You have no saved positions</div>
{{end}}

{{template "footer"}}
{{end}}
