<!--
Expected:
  Positions
-->
{{- define "positionList"}}
{{- template "header"}}
{{- template "pageTitle" "Positions"}}
{{- range .Positions}}
  {{- template "positionButton" .}}
{{- else}}
  <div class="text-secondary text-center">You have no saved positions</div>
{{- end}}
{{- template "footer"}}
{{- end}}
